* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    
  }

  a{
    text-decoration: none;
    color: white;
  }
  
  body {
    background: white;
    color: #333;
  }
  
  .container {
    width: 80%;
    max-width: 1200px;
    height: 550px;
    margin: auto;

  }
  
  .hero {
    background: #FF6607;
    color: white;
    padding-bottom: 2rem;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .flags{
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .logo {
    font-size: 3rem;
    font-weight: bold;
  }
  /*  */
  .search-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.top-bar-search {
  width: 100%;
  padding: 10px 30px 10px 15px; 
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;

  background-color: #ffffff !important; 
  color: black; 
  transition: all 0.2s ease;
}


.top-bar-search::placeholder {
  color: #bbb;
}

.search-icon {
  position: absolute;
  color: white; /* ícone branco para aparecer no fundo escuro */
  right: 12px;
  top: 50%;
  transform: translateY(-40%);
  pointer-events: none;
}

.search-icon img {
  width: 20px;
  height: 18px;
  opacity: 0.6;
}



/*      */
  

  .btn-login{
    color: white; 
    font-size: 16px;
    font-weight: 700;

    background-color: rgba(0, 0, 255, 0);
    border: none;
    padding: 0.5rem 1rem;
  }

.btn-login a {
    color: white;

  }

.btn-outline {
  color: black;
  background-color: white;
  padding: 0.7rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-weight: 1000;          
  white-space: nowrap;       
}

.btn-outline a {
  color: black;
  text-decoration: none;
  display: block;
  white-space: nowrap;       
}

.humburguer {
  display: none;
  align-items: center;
}

.hamburguerButton {
  background: transparent;
  border: none;
  cursor: pointer;
  
  transition: transform 0.2s ease;
}

.hamburguerButton:hover {
  transform: scale(1.1);
}

.hamburguerIcon {
  width: 50px;
}

@media (max-width: 1000px) {
  .humburguer{
    display: flex;
  }
  .flags{
    display: none;
  }
  .search-box {
    flex-direction: column;
    align-items: center;
  }

  .menu{
    display: none !important;
  }
  .wordImg {
    position: absolute;
    right: 60%;
    width: 100% !important;
    transform: translateY(50%);
}
  
}


  /*   */
.hero-content h2 {
    font-size: 4rem;
    margin: 2rem 0;
}

.imgsHero {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 999;
  pointer-events: none;
}

/* Imagem da linha decorativa */
.lineImg {
  position: absolute;
  top: 180px;
  width: 80%;
  transform: translateX(10%);
  z-index: 1;
}

/* Imagem com palavra decorativa */
.wordImg {
  position: absolute;
  right: 15%;
  width: 40%;
  transform: translateY(1%);
  z-index: 9999;
  pointer-events: none;
}

  .menu {
    display: flex;
    gap: 1.5rem;
    margin-top: 14%;
  }
  
  .menu-item {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .menu-item.active {
   background-color: #B8B8B869;
   border-radius: 9999px;
  }

.menu-suspenso {
  position: relative;
  display: inline-block;
}

.botao-menu-suspenso {
  background: none;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px 16px;
}

.botao-menu-suspenso:hover {
  background-color: #B8B8B869;
  border-radius: 8px;
}

.conteudo-menu-suspenso {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 8px;
  padding: 8px 0;
}

.conteudo-menu-suspenso a {
  color: #3b82f6;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-weight: 500;
  border-bottom: 1px solid #eee;
}

.conteudo-menu-suspenso a:hover{
  background-color: lightgrey;
}

.conteudo-menu-suspenso a:last-child {
  border-bottom: none;

}

.menu-suspenso:hover .conteudo-menu-suspenso {
  display: block;

}
/*  */

.container2 {
    width: 80%;
    max-width: 1200px;
  
    margin: auto;

  }
 .search-box {
    display: flex;  
    gap: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #ff59009a;
    padding: 1rem;
    justify-content: center;
  }

  
.search-box button {
    padding: 1rem;
    width: 50%;
    border-radius: 6px;
    border: none;
}
.search-box input{
    padding: 1rem;
    width: 33%;
    border-radius: 6px;
    border: none;}
  
  .btn-search {
    background: #ff5b00;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }
  
 .btn-search:hover{
  background-color: #ff5b00;
  font-size: 15px;
  
 }

  .section {
    margin: 2rem 0;
  }
  
  .section h3 {
    font-size: 1.5rem;
  }
  
  .section p {
    color: #777;
    margin-bottom: 1rem;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .grid-2-3 .placeholder.large {
    flex: 1 1 calc(50% - 0.5rem);
    height: 250px;
    background: #ddd;
    border-radius: 8px;
  }
  
  .grid-2-3 .placeholder {
    flex: 1 1 calc(33% - 0.5rem);
    height: 200px;
    background: #ddd;
    border-radius: 8px;
  }
  
  .grid-5 .placeholder {
    flex: 1 1 calc(20% - 0.5rem);
    height: 200px;
    background: #ddd;
    border-radius: 8px;
  }
  
  .labels {
    display: flex;
    text-align: start;  
    color: #555;
    gap: 250px;
  }
  
  .tags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .tag {
    padding: 0.4rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #f5f5f5;
    cursor: pointer;
  }
  
  .tag.active {
    background: #ff5b00;
    color: white;
    border: none;
  }
  
  .promo-box {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 1rem;
    border: 1px solid #ff5b00;
    border-radius: 10px;
    align-items: center;
    margin: 2rem 0;
  }
  
  .promo-text {
    max-width: 70%;
  }
  
  .btn-black {
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin-right: 0.5rem;
    cursor: pointer;
  }

.btn-outline2 {
  color: black;
  background-color: #ff5b00;
  padding: 0.4rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: 800;          
      
}
  .promo-img {
    font-size: 3rem;
  }
  
  footer {
    background-color: #F1F1F1 !important;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .footer-content {
    width: 80%;
    margin: auto;
    display: flex;
    margin: auto;
    align-items: center;
  }

.textFooter{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
}
  .footer-links{
    display: flex;
    gap: 40px;
    width: 50%;
    justify-content: center;
  }


  .links p{
    padding: 5px 0px;
  }

  .links a{
    color: black;
    text-decoration: none;
  }

  .links a:hover{
    color: blue;
    text-decoration: underline;
  }
  
  
  /*FAVORTIRAR*/
  .placeholder {
    position: relative; /* necessário para o botão ficar "preso" dentro */
  }

  .favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .favorite-button:hover {
    transform: scale(1.1);
  }

  /*favoritados*/
  #favorites-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    z-index: 10;
  }
  
  #saved-favorites-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  #modal-favoritos {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    z-index: 10;
  }
  




  #lista-favoritos-salvos {
    list-style-type: none;
    padding-left: 0;
  }


  